name: Publish

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources...
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '17'

      - name: Install App...
        run: yarn install
        working-directory: custom-receiver

      - name: Build App...
        run: yarn build
        working-directory: custom-receiver