name: Publish

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PUBLIC_URL: /cast-page
    steps:
      - name: Check out sources...
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '17'

      - name: Install App...
        run: yarn install
        working-directory: web-receiver

      - name: Build App...
        run: yarn build
        working-directory: web-receiver

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.2.3
        with:
          branch: gh-pages
          folder: web-receiver/build